<!doctype html>
<html>
	<head>
		<title>Rockband Last.fm Mashup</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
		<link href="/site_media/style.css" type="text/css" media="screen" rel="stylesheet">
        <!--[if !IE 7]>
            <style type="text/css">
                #container {display:table;height:100%}
            </style>
        <![endif]-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="/site_media/jquery.timers-1.2.js"></script>
        <!--
        <script type="text/javascript" src="/site_media/backbone-min.js"></script>
        -->
        <script type="text/javascript" src="/site_media/lastrbfm.js"></script>

        <script id="trackList_template" type="text/html">
            <div id="trackList">
                <h2>RockBand Songs You Might Like</h2>
                <ul>
                    {% templatetag openvariable %}#tracks{% templatetag closevariable %}
                        <li><span class="title">{% templatetag openvariable %}title{% templatetag closevariable %}</span> by <span class="artist">{% templatetag openvariable %}artist{% templatetag closevariable %}</span></li>
                    {% templatetag openvariable %}/tracks{% templatetag closevariable %}
                </ul>
            </div>
        </script>
    </head>

    <body>
    <div id="spacing"></div>
        <div class="container_12" id="container">
            <header>
                <div class="grid_12" id="header">
                    <div id="logo">
                        <h1>lastrbfm</h1>
                    </div>
                </div>
            </header>

            <div id="body">
                <div id="loginBox">
                    <form action="/" method="post">
                        <input type="text" id="lastfmUser" name="lastfmUser" />
                    </form>
                </div>

            </div>
            <div id="results" style="display:none;">
            <img src="/site_media/ajax-loader.gif" />
            </div>
        </div>
        <footer>
            <div id="footer">
                <p>&copy 2010 fourkB.</p>
            </div>
        </footer>
    </body>
</html>


